<div class="col-xs-6">

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control"
                     name="search" placeholder="Search" ng-model="search" ng-model-options="{ debounce: 300 }">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item"
            ng-repeat="contact in contactsCollection | filter:search track by $index"
            ng-class-even="'list-group-item-info'"
            ng-class="{'active': current == contact}"
            ng-click="select(contact)">
            <br>
            {{contact.name}}</li>
        </ul>
    </div>
</div>

</div>